.chat-box {
  padding: 1rem;
  background: var(--mat-sys-primary-container);
  border-radius: 8px;
  display: flex;
  gap: 1rem;
  flex-direction: row;
  align-items: center;
}

.chat-box-input {
  flex: 1;
}

.chat-box-submit-button {
  color: var(--mat-sys-primary)
}
