.wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 0.5rem 0;
}

.message {
  padding: 0.5rem 1rem;
  border-radius: 8px;
  background: var(--mat-sys-surface-container);
  width: 60%;
}

.message-sender {
  font-weight: 600;
  margin-bottom: 0.25rem;
}

.message-content {
  word-break: break-word;
  color: var(--mat-sys-on-surface);
}

.timestamp {
  margin: 0.5rem 0 0.5rem 0.5rem;
  color: var(--mat-sys-on-surface);
}
